[Unit]
#This file goes in /etc/systemd/system/
Description = /etc/rc.local to be run at boot by systemd

After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
WantedBy=multi-user.target

[Service]
ExecStartPre=/bin/sleep 1
Type=oneshot
#Type=forking
ExecStart=/etc/rc.local
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
